/*Color palette:
Yellow: #F8E9A1
Red: #F76C6C
Light Blue: #A8D0E6
Med. Blue: #374785
Deep Blue: #24305E*/


/* Default sections */
body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background-color: #A8D0E6;
}

header {
    background-color: #F8E9A1;
    text-align: center;
    border-radius: 25px 25px 5px 5px; 
}



footer {
    background-color: #24305E;
    color:antiquewhite;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
    gap: 3em;
    border-radius: 5px 5px 25px 25px;
}

/* Interactive objects */
button {
    background-color: #F76C6C;
    display: block;
    padding: 1rem;
    border-radius: 10px 25px;
}

/* Text modding */
h1 {
    padding: 10px;
}

p {
    padding: 1em;
}

/* Classes */ 
.container {
    position: relative;
    text-align: center;
    justify-content: center;
}

.centered {
    margin: 0;
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }